{% extends 'base.html' %}

{% block conteudo %}
    <div class="card border-dark mb-3">
        <div class="card-header bg-transparent text-danger"><h1>AVISO</h1></div>
        <div class="card-body">
            <form action='.' method='POST'>{% csrf_token %}
                <h1>Realmente deseja apagar a consulta: </h1>
                <h3>Data: {{ consulta.data_da_consulta }}</h3>
                <h3>Paciente: {{ consulta.paciente.nome_completo }}</h3>
                <br>
                <input class="btn btn-danger btn-lg" type="submit" value="Sim">
                <a class="btn btn-primary btn-lg" href="{% url 'ver_consulta' consulta.id %}" role="button"
                   style="margin-left: 1%">Não</a>
            </form>
        </div>
    </div>
{% endblock %}