{% extends 'base.html' %}


{% block conteudo%}

    <div class="card border-dark mb-3">
        <div class="card-header bg-transparent" style="font-size: larger;">Dashboard</div>
        <div class="card-body">
            <h5 class="card-title">Cadastros</h5>
            <p class="card-text">
                <ul class="list-group">
                    <li class="list-group-item justify-content-between align-items-center"><strong>Pacientes:</strong> {{ qtd_pacientes }}</li>
                    <li class="list-group-item justify-content-between align-items-center"><strong>Consultas:</strong> {{ qtd_consultas }}</li>
                </ul>
            </p>
        </div>
    </div>

{% endblock%}


