{% extends 'base.html' %}
{% block conteudo %}
    <h1 style="text-align: center;">Informações da Consulta</h1>
    <br><br>

    {% include 'parciais/_messages.html' %}

    <div class="card border-dark mb-3">
        <div class="card-header bg-transparent">
            <h2>
                {% if consulta.paciente.status_tupla %}
                    <a href="{% url 'ver_paciente' consulta.paciente_id %}">
                        Consulta de: {{ consulta.paciente.nome_completo }}
                    </a>
                {% else %}
                    <p>
                        Consulta de: {{ consulta.paciente.nome_completo }}
                    </p>
                {% endif %}
            </h2>
        </div>

        <div class="card-body">
            <p><strong>Data da Consulta: </strong>{{ consulta.data_da_consulta }}</p>
            <p><strong>Hospital:</strong> {{ consulta.hospital }}</p>
            <p><strong>Horário da Consulta:</strong> {{ consulta.horario_da_consulta }}</p>
            <p><strong>Acompanhante:</strong> {{ consulta.acompanhante }}</p>
            <p><strong>Local de espera:</strong> {{ consulta.local_de_espera }}</p>
        </div>
    </div>

{% endblock %}