{% extends 'base.html' %}
{% block conteudo %}

    <div class="card border-dark mb-3">
        <div class="card-header bg-transparent"><h1>Paciente: {{ consulta.paciente.nome_completo }}</h1></div>
        {# <div class="card-header bg-transparent"><h1><a href="{% url 'index' %}">Paciente: {{ consulta.paciente.nome_completo }}</a></h1></div> #}
        {# Colocar o link para os detalhes do paciente, ao clicar no nome do paciente #}

        <div class="card-body">
            <p><strong>Data da Consulta: </strong>{{ consulta.data_da_consulta }}</p>
            <p><strong>Hospital:</strong> {{ consulta.hospital }}</p>
            <p><strong>Horário da Consulta:</strong> {{ consulta.horario_da_consulta }}</p>
            <p><strong>Acompanhante:</strong> {{ consulta.acompanhante }}</p>
            <p><strong>Local de espera:</strong> {{ consulta.local_de_espera }}</p>
        </div>
    </div>

{% endblock %}