<div class="sidebar-container">
    <div class="sidebar-logo">
        <a href="{% url 'index' %}">
                <i class="fa fa-home" aria-hidden="true"></i> DLogistica
        </a>
    </div>
    <ul class="sidebar-navigation">
        <li class="header">Visualizar</li>
        <li>
            <a href="#">
                <i class="fa fa-home" aria-hidden="true"></i> Paciente
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-tachometer" aria-hidden="true"></i> Consulta
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-tachometer" aria-hidden="true"></i> Motorista
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-tachometer" aria-hidden="true"></i> Viagem
            </a>
        </li>
        <li class="header">Cadastrar
        <li>
            <a href="#">
                <i class="fa fa-home" aria-hidden="true"></i> Paciente
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-tachometer" aria-hidden="true"></i> Consulta
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-tachometer" aria-hidden="true"></i> Motorista
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-tachometer" aria-hidden="true"></i> Viagem
            </a>
        </li>
    </ul>
    <div class="content-container">

    <div class="container-fluid">

    </div>
  </div>
</div>
