<div class="sidebar-container">
    <div class="sidebar-logo">
        <a href="{% url 'index' %}">
                <i class="fa fa-home" aria-hidden="true"></i> DLogistica
        </a>
    </div>
    <ul class="sidebar-navigation">
        <li class="header">Visualizar</li>
        <li>
            <a href="{% url 'paciente' %}">
                <i class="fa fa-home" aria-hidden="true"></i> Paciente
            </a>
        </li>
        <li>
            <a href="{% url 'consulta' %}">
                <i class="fa fa-tachometer" aria-hidden="true"></i> Consulta
            </a>
        </li>
        <li class="header">Cadastrar
        <li>
            <a href="{% url 'cadastro_paciente' %}">
                <i class="fa fa-home" aria-hidden="true"></i> Paciente
            </a>
        </li>
        <li>
            <a href="{% url 'cadastro_consulta' %}">
                <i class="fa fa-tachometer" aria-hidden="true"></i> Consulta
            </a>
        </li>
        <li class="header">Sair
            <li>
                <a href="{% url 'logout' %}">
                    <i class="fa fa-home" aria-hidden="true"></i> Logout
                </a>
            </li>
    </ul>
    <div class="content-container">

    <div class="container-fluid">

    </div>
  </div>
</div>
