{% load static %}

<!DOCTYPE html>
<html lang="pt">

<head>
    {% block title %}
        <title>Dlogistica</title>
    {% endblock %}
    {% include 'parciais/_head.html' %}
</head>

<body>
    {% block sidebar %}
        {% include 'parciais/_nav.html' %}
    {% endblock %}
    
    <div class="content-container">
        <div class="container-fluid">
            <div class="jumbotron">
                {% block conteudo %}

                {% endblock %}
            </div>
        </div>
    </div>

    <script src="{% static 'vendor/jquery/jquery.slim.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>